{% extends 'core/base.html.twig' %}
{% form_theme UserForm 'bootstrap_5_layout.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('Styles/login.css')}}">
{% endblock %}
{% block content %}

	<div class="row mb-5">
		<div class="col-lg-8 mx-auto">
			{% for flash in app.flashes('profile')%}
				<div class="alert my-3 {{ flash.color }}">{{ flash.content }}</div>
			{% endfor %}
			{{ form_start(UserForm, {'attr': {'class': 'needs-validation-register', 'novalidate': 'novalidate' }}) }}
			<div class="card text-black mt-5 shadow-2-strong  card-register" style="border-radius: 15px;">
				<div class="card-body p-md-5">
					<h1 class="mb-2 pb-2 pb-md-0 mb-md-4 text-center text-success ">Your Profil</h1>
					<hr>
					<div class="row">
						<label class="col-3" for="username">Email :</label>
						<div>
							<input disabled class="form-control form-input-bg" type="email" value="{{currentUser.email}}">
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							{{ form_row(UserForm.firstName) }}
						</div>
						<div class="col-6">
							{{ form_row(UserForm.lastName) }}
						</div>
					</div>
					<div class="row">
						<div class="col-9">
							{{ form_row(UserForm.adress) }}
						</div>
						<div class="col-3">
							{{ form_row(UserForm.city) }}
						</div>
					</div>
					<div class="row">
						<div class="col-4">
							{{ form_row(UserForm.postalCode, {'attr': {'class': 'txtPostalCode form-input-bg'}}) }}
						</div>
						<div class="col-4">
							{{ form_row(UserForm.province) }}
						</div>
						<div class="col-4">
							{{ form_row(UserForm.phone, {'attr': {'class': 'txtPhone form-input-bg'}}) }}
						</div>
					</div>
					<div class="d-flex justify-content-center">
						{{ form_row(UserForm.create) }}
					</div>
					{{ form_end(UserForm) }}
					<span>
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 mx-auto">
			<div class="card text-black my-5 shadow-2-strong card-register" style="border-radius: 15px;">
				<div class="card-body px-md-5">
					<h1 class="mb-2 text-center text-success ">Password modification</h1>
					<hr>
					<form action="{{ path('app_password_change') }}" method="post">
						<div class="form-outline">
							<label class="form-label" for="password">Old Password:</label>
							<input class="form-control form-input-bg" type="password" id="password" name="_password">
						</div>
						<div class="form-outline">
							<label class="form-label" for="password">New Password:</label>
							<input class="form-control form-input-bg" type="password" id="password" name="_password">
						</div>
						<div class="form-outline">
							<label class="form-label" for="password">Password Confirmation:</label>
							<input class="form-control form-input-bg" type="password" id="password" name="_password">
						</div>
						{# If you want to control the URL the user is redirected to on success #}
						<input type="hidden" name="_target_path" value="{{ path('app_profile') }}">

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="row text-center">
							<button type="submit" class="btn btn-success btnLogin col-6 offset-3 mt-3">Change Password</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script defer src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"></script>
	<script defer src="{{ asset('scripts/register.js')}}"></script>
{% endblock %}
