{% extends 'core/base.html.twig' %}

{% block title %}Catalog
{% endblock %}
{% block content %}
	<section class="bg-success py-5 my-5">
		<div class="container">
			<div class="row align-items-center py-5">
				<div class="col-md-8 text-white">
					<h1>About Us</h1>
					<p>
						This is a school project,<br>
						This is 100% in the porpuse of learning and improve my knowledge about web developpement.
					</p>
					<div>
						<h2 class="h2 text-success border-bottom pb-3 border-light logo">Millennium</h2>
						<ul class="list-unstyled text-light footer-link-list">
							<li>
								<i class="fas fa-map-marker-alt fa-fw"></i>
								455 Rue Fournier, Saint-Jérôme, QC J7Z 4V2
							</li>
							<li>
								<i class="fa fa-phone fa-fw"></i>
								<a class="text-decoration-none">000-000-0000</a>
							</li>
							<li>
								<i class="fa fa-envelope fa-fw"></i>
								<a class="text-decoration-none" href="mailto:info@company.com">MillenniumTechSupport@Hotmail.com</a>
							</li>
							<p class="text-left text-light">
								Copyright &copy; 2023 Millennium 
								                            | Designed by
								<a rel="sponsored" href="https://templatemo.com/tm-559-zay-shop" target="_blank">TemplateMo</a>
							</p>
						</ul>
					</div>

				</div>
				<div class="col-md-4">
					<img src="{{asset('/img/about-hero.svg')}}" alt="About Hero">
				</div>
			</div>
		</div>
	</section>
	<!-- Close Banner -->

	<!-- Start Brands -->
	<section class="bg-light py-5">
		<div class="container my-4">
			<div class="row text-center py-3">
				<div class="col-lg-6 m-auto">
					<h1 class="h1">Our Brands</h1>
					<p>
						We are sponsered by brands like DJI Mavic , DJI Phantom ...
						Thanks to them, this site is available to you.																																								                        Lorem ipsum dolor sit amet.
					</p>
				</div>
				<div class="col-lg-9 m-auto tempaltemo-carousel">
					<div
						class="row d-flex flex-row">
						<!--Controls-->
						<div class="col-1 align-self-center">
							<a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
								<i class="text-light fas fa-chevron-left"></i>
							</a>
						</div>
						<!--End Controls-->

						<!--Carousel Wrapper-->
						<div class="col">
							<div
								class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
								<!--Slides-->
								<div
									class="carousel-inner product-links-wap" role="listbox">

									<!--First slide-->
									<div class="carousel-item active">
										<div class="row">
											<div class="col-3 p-md-5">
												<a href="#"><img class="img-fluid brand-img" src="{{asset('/img/brand_01.png')}}" alt="Brand Logo"></a>
											</div>
											<div class="col-3 p-md-5">
												<a href="#"><img class="img-fluid brand-img" src="{{asset('/img/brand_02.png')}}" alt="Brand Logo"></a>
											</div>
											<div class="col-3 p-md-5">
												<a href="#"><img class="img-fluid brand-img" src="{{asset('/img/brand_03.png')}}" alt="Brand Logo"></a>
											</div>
											<div class="col-3 p-md-5">
												<a href="#"><img class="img-fluid brand-img" src="{{asset('/img/brand_04.png')}}" alt="Brand Logo"></a>
											</div>
										</div>
									</div>
									<!--End First slide-->

									<!--Second slide-->
									<div class="carousel-item">
										<div class="row">
											<div class="col-3 p-md-5">
												<a href="#"><img class="img-fluid brand-img" src="{{asset('/img/brand_01.png')}}" alt="Brand Logo"></a>
											</div>
											<div class="col-3 p-md-5">
												<a href="#"><img class="img-fluid brand-img" src="{{asset('/img/brand_02.png')}}" alt="Brand Logo"></a>
											</div>
											<div class="col-3 p-md-5">
												<a href="#"><img class="img-fluid brand-img" src="{{asset('/img/brand_03.png')}}" alt="Brand Logo"></a>
											</div>
											<div class="col-3 p-md-5">
												<a href="#"><img class="img-fluid brand-img" src="{{asset('/img/brand_04.png')}}" alt="Brand Logo"></a>
											</div>
										</div>
									</div>
									<!--End Second slide-->

									<!--Third slide-->
									<div class="carousel-item">
										<div class="row">
											<div class="col-3 p-md-5">
												<a href="#"><img class="img-fluid brand-img" src="{{asset('/img/brand_01.png')}}" alt="Brand Logo"></a>
											</div>
											<div class="col-3 p-md-5">
												<a href="#"><img class="img-fluid brand-img" src="{{asset('/img/brand_02.png')}}" alt="Brand Logo"></a>
											</div>
											<div class="col-3 p-md-5">
												<a href="#"><img class="img-fluid brand-img" src="{{asset('/img/brand_03.png')}}" alt="Brand Logo"></a>
											</div>
											<div class="col-3 p-md-5">
												<a href="#"><img class="img-fluid brand-img" src="{{asset('/img/brand_04.png')}}" alt="Brand Logo"></a>
											</div>
										</div>
									</div>
									<!--End Third slide-->

								</div>
								<!--End Slides-->
							</div>
						</div>
						<!--End Carousel Wrapper-->

						<!--Controls-->
						<div class="col-1 align-self-center">
							<a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
								<i class="text-light fas fa-chevron-right"></i>
							</a>
						</div>
						<!--End Controls-->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Brands-->


{% endblock %}
