{% extends "core/base.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('Styles/order.css')}}">
{% endblock %}
{% form_theme formCategories 'bootstrap_5_layout.html.twig' %}
{% block content %}
	<div class="row">
		<div class="card text-black my-3 shadow-2-strong card-table col-8 offset-2" style="border-radius: 15px;">
			<div class="card-body px-md-5">
				<h1 class="text-center">Categories</h1>
				{{ form_start(formCategories, {'attr': {'class': 'needs-validation-register', 'novalidate': 'novalidate' }}) }}
				<div class="row">
					<ul class="categories col-6 offset-3" data-index="{{ formCategories.categories|length > 0 ? formCategories.categories|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(formCategories.categories.vars.prototype)|e('html_attr') }}">
						{% for item in formCategories.categories %}
							<li class="list-unstyled">{{ form_row(item.category)}}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="row text-center ">
					<div class="form-button">
						<button type="button" class="add_category_link btn btn-success my-2 col-4" data-collection-holder-class="categories">Add Category</button>
					</div>
					{{ form_row(formCategories.btnSave) }}
				</div>
				{{ form_rest(formCategories) }}
				{{ form_end(formCategories) }}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script defer src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"></script>
	<script defer src="{{ asset('js/admin.categories.js')}}"></script>
{% endblock %}
