{% extends 'core/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('Styles/order.css')}}">
{% endblock %}
{% block content %}
	<div class="container overflow-hidden row">
		<div class="card text-black my-3 shadow-2-strong card-table" style="border-radius: 15px;">
			<div class="card-body px-md-5">
				<div class="row">
					<h4 class="col-6">Order #{{ order.idOrder }}</h4>
					<h4 class="col-6 text-end">{{ order.state }}</h4>
				</div>
				<hr class="mt-1">
				<div class="container">
					{% for flash in app.flashes('update') %}
						<div class="alert {{ flash.color }}">{{ flash.content|raw }}</div>
					{% endfor %}
					<div class="row gx-3">
						<div class="col-5">
							<div class="text-black my-3 shadow-2-strong  col card-info card" style="border-radius: 10px;">
								<div class="card-body">
									<div class="row">
										<div class="col-6 label"><b># Order</b></div>
										<div class="col-6 text-end">{{ order.idOrder }}</div>
									</div>
									<div class="row">
										<div class="col-6"><b>Number of items</b></div>
										<div class="col-6 text-end">{{ order.Purchases.count() }}
											Items</div>
									</div>
									<div class="row">
										<div class="col-6"><b>Order Date</b></div>
										<div class="col-6 text-end">{{ order.orderDate|date("Y-m-d h:m:s") }}</div>
									</div>
									<div class="row">
										<div class="col-6"><b>Delivery Date</b></div>
										<div class="col-6 text-end">Coming soon</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="text-black my-3 shadow-2-strong col card-info card " style="border-radius: 10px;">
								<div class="card-body">
									<div class="row">
										<div class="col-6 label"><b>SubTotal</b></div>
										<div class="col-6 text-end">{{  order.getSubtotal() | number_format(2, ',', ' ')}}
											$</div>
									</div>
									<div class="row">
										<div class="col-6"><b>Rabais</b></div>
										<div class="col-6 text-end">0,00$</div>
									</div>
									<div class="row">
										<div class="col-6"><b>Delivery Fee</b></div>
										<div class="col-6 text-end">{{ order.deliveryFee | number_format(2, ',', ' ')}}</div>
									</div>
									<div class="row">
										<div class="col-6"><b>Total (With taxe)</b></div>
										<div class="col-6 text-end">{{ order.getTotal()| number_format(2, ',', ' ')}}
											$</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-3">
							<div class="text-black my-3 shadow-2-strong col card-info card" style="border-radius: 10px;">
								<div class="card-body text-center">
									<div class="">Delivery Adress</div>
									<div>
										<p class="my-0">{{ app.user.firstName }}
											{{app.user.LastName}}</p>
										<p class="my-0">{{app.user.adress}}</p>
										<p class="my-0">
											{{ app.user.city}},
											{{app.user.postalCode}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<table class="table text-center table-wrap table-custom table-scroll">
								<thead class="bg-success text-white">
									<th>Product</th>
									<th>Name</th>
									<th>Price</th>
									<th>Quantity</th>
									<th>Total</th>
								</thead>
								<tbody>
									{% for purchase in order.purchases %}
										<tr>
											<th scope="row"><img src="{{purchase.product.imgPath}}" class="img-table img-fluid rounded-3 cart-product-image" alt="Cotton T-shirt"></th>
											<th>{{ purchase.product.name }}</th>
											<th>{{ purchase.price | number_format(2, ',', ' ')}}
												$</th>
											<th>
												{{purchase.quantity}}
											</th>
											<th>
												{{purchase.getTotalPrice() | number_format(2, ',', ' ')}}
												$
											</th>
										</tr>
									{% endfor %}
								</tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
